*{
    margin: 0;
    padding: 0;
}

.intro-margin-top{
    height: 10vh;
}

.font-michroma{
    
    font-family: 'Michroma', sans-serif;

}

.font-dela{
    
    font-family: 'Dela Gothic One', sans-serif;

}


.intro-background-image{

    
    background-image:url(Assets/intro_animation_trans.gif) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}